<%- include("partials/header") %>
<main>
  <div class="category">
    <h1><%= title %></h1>
    <ul>
      <li>Environmental</li>
      <li>Educational</li>
      <li>Community Service</li>
      <li>Health and Wellness</li>
    </ul>
  </div>
</main>
<%- include("partials/footer") %>
