<%- include("partials/header") %>
        <main>
            <div>
                <h1><%= title %></h1>
                <h2>Welcome to the CSE 340 Service Network!</h2>
                <p class="mission">Our mission is to promote service across the world by connecting volunteers with service oppurtunities in their community.</p>
            </div>
        </main>
<%- include("partials/footer") %>