<%- include("partials/header") %>
        <main>
            <div class="home">
                <h1><%= title %></h1>

                <h2>Welcome to the CSE 340 Service Network!</h2>

                <p class="mission">Our mission is to promote service across the world by connecting volunteers with service oppurtunities in their community.
                </p>

                <div class="hero-image">
                    <img src="/images/cse340-service-network.png" alt="CSE 340 Service Network Logo">

                     <div class="dashboard">
                    <% if(isLoggedIn) { %>
                        <p><a href="/dashboard">My Dashboard</a></p>
                   <% } %>
                </div>
                </div>
            </div>
        </main>
<%- include("partials/footer") %>