<%- include("partials/header") %>
        <main>
            <div class="organizations">
                <h1><%= title %></h1>
                <p>Here are a few of our partner organizatiuons:</p>
            <ul>
                <li class="partner"><img src="/images/brightfuture-logo.png" alt="BrightFuture Builders logo">
                <div>
                    <strong>BrightFuture Builders
                    </strong>:
                    info@brightfuture.org
                </div>
                </li>

                
                <li class="partner"><img src="/images/greenharvest-logo.png" alt="GreenHarvest Growers logo">
                <div>
                    <strong>GreenHarvest Growers
                    </strong>:
                    contact@greenharvest.org
                </div>  
            </li>
            
            <li class="partner"><img src="/images/unityserve-logo.png" alt="UnityServe Volunteers logo">
                <div>
                    <strong>UnityServe Volunteers</strong>:
                    hello@unityserve.org
                </div>
            </li>
            </ul>
        </div>
        </main>
<%- include("partials/footer") %>