<%- include("partials/header") %>
        <main>
          <div class="projects">
            <h1><%= title %></h1>
            <h2>Upcoming Service Projects</h2>
            <ul>
              <li><strong>Cleanup:</strong> Join us to clean up local parks and make them beautiful!</li>

              <li><strong>Food Drive:</strong> Help collect and distribute food to those in need.
              </li>

              <li><strong>Community Tutoring:</strong> Volunteer to tutor students in various subjects.
              </li>  
            </ul>
          </div>
        </main>
<%- include("partials/footer") %>